{% extends 'base.html.twig' %}

{% block title %}Waou -
	{{ (app.request.get('_route') == 'app_ajouter_loisir' ? 'Ajouter' : 'Modifier') }}
	un loisir
{% endblock %}
{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('list_calendrier') }}
	{{ encore_entry_link_tags('login') }}
{% endblock %}
{% block body %}
	{{ form_start(form_loisir) }}
	{#{{ form_start(form_obligation_familiale) }}#}
	<div class="row container-principal-form">
		<div class="col-8 mx-auto container-intro">
			<div class="col-form" style="width: 100%;">
				{% if app.request.get('_route') == 'app_ajouter_loisir' %}
					<h1>Ajouter</h1>
				{% else %}
					<h1>{{ titreObligation }}</h1>
				{% endif %}
			</div>
			<div class="col-form">
				{{ form_label(form_loisir.objet) }}
				{{ form_widget(form_loisir.objet) }}
				{{ form_errors(form_loisir.objet) }}
			</div>
			<div class="col-form">
				{{ form_label(form_loisir.temps_prevue) }}
				{{ form_widget(form_loisir.temps_prevue) }}
				{{ form_errors(form_loisir.temps_prevue) }}
			</div>
			<div class="col-form">
				{{ form_label(form_loisir.frequence) }}
				{{ form_widget(form_loisir.frequence) }}
				{{ form_errors(form_loisir.frequence) }}
			</div>
			<div class="col-form">
				{{ form_label(form_loisir.nombre_action) }}
				{{ form_widget(form_loisir.nombre_action) }}
				{{ form_errors(form_loisir.nombre_action) }}
			</div>
			<div class="col-form">
				{{ form_label(form_loisir.jour_recurrence) }}
				{{ form_widget(form_loisir.jour_recurrence) }}
				{{ form_errors(form_loisir.jour_recurrence) }}
			</div>
			<div class="col-form">
				{{ form_label(form_loisir.lieu) }}
				{{ form_widget(form_loisir.lieu) }}
				{{ form_errors(form_loisir.lieu) }}
			</div>
			<button type="submit" onclick="submitForms()" class="button-submit btn-sub mb-3">{{ (app.request.get('_route') == 'app_ajouter_obligation_familiale' ? 'Créer' : 'Modifier') }}</button>
			{{ form_end(form_loisir) }}
		</div>
	</div>
	{#{{ form_end(form_obligation_familiale) }}#}
	<script src="{{ asset('js/autoInput.js') }}"></script>
{% endblock %}
