{% extends 'base.html.twig' %}

{% block title %}Waou - Obligation Familiale
{% endblock %}
{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('list_calendrier') }}
{% endblock %}
{% block body %}
<section class="container-list-calendrier element-to-scroll">
	<div class="container-list row">
		<a class="button-add" href="{{ path('app_ajouter_obligation_familiale', {'type': type }) }}">Ajouter</a>
		<div class="container-texte-exemple">
			<h3>{{ texteIntro }}</h3>
		</div>
		<div class="container-cards">
			{% for entry in lst_obligations %}
				<div class="card">
					<div class="image-title">
						{% if entry.intitule == 'Les amener à l\'école' %}
							<img src="{{ asset('img/picto-amener-ecole.png') }}">
						{% elseif entry.intitule == 'Les amener à des activités extra-scolaire' %}
							<img src="{{ asset('img/picto-activite-extra-scolaire.png') }}">
						{% elseif entry.intitule == 'Présence/soins auprès de mes Parents âgés' %}
							<img src="{{ asset('img/picto-personne-age.png') }}">
						{% elseif entry.intitule == 'Présence/soins auprès de mes beaux parents âges' %}
							<img src="{{ asset('img/picto-personne-age.png') }}">
						{% elseif entry.intitule == "Présence/soins auprès d'un proche malade" %}
								<img src="{{ asset('img/picto-aide-malade.png') }}">
						{% elseif entry.intitule == "Présence/soins auprès d'un proche Handicapé" %}
								<img src="{{ asset('img/picto-aide-handicape.png') }}">
						{% elseif entry.intitule == "Moments d'échanges priviligée avec mon conjoint" %}
								<img src="{{ asset('img/picto-couple.png') }}">
						{% elseif entry.intitule == "Activité de ménage (Nettoyage Maison)" %}
								<img src="{{ asset('img/picto-menage.png') }}">
						{% elseif entry.intitule == "Activité repassage (entretien linge)" %}
								<img src="{{ asset('img/picto-linge.png') }}">
						{% elseif entry.intitule == "Activité de Jardinage (entretien espaces verts)" %}
								<img src="{{ asset('img/picto-jardinage.png') }}">
						{% elseif entry.intitule == "Activité planifiée de bricolage / amenagement" %}
								<img src="{{ asset('img/picto-entretien-reparation.png') }}">
						{% elseif entry.intitule == "Préparer les repas pris à la maison" %}
								<img src="{{ asset('img/picto-cuisinier.png') }}">
						{% elseif entry.intitule == "Faire les courses regulières d'approvisionnement" %}
								<img src="{{ asset('img/picto-courses.png') }}">
						{% elseif entry.intitule == "Gestion des factures à payer & suivis des comptes" %}
								<img src="{{ asset('img/picto-factures.png') }}">
						{% elseif entry.intitule == "Gestion des courriers et tâches administratives du foyer" %}
								<img src="{{ asset('img/picto-courriers.png') }}">
						{% elseif entry.intitule == "Établissement de budget, gestion de placements" %}
								<img src="{{ asset('img/picto-budget.png') }}">
						{% elseif entry.intitule == "Gestion de bien immobiliers, de comptes SCI" %}
								<img src="{{ asset('img/picto-immobilier.png') }}">
							{% elseif entry.intitule == 'Les aider aux devoirs' %}
								<img src="{{ asset('img/picto-aide-devoir.png') }}">
							{% else %}
								<img src="{{ asset('img/picto_autre_temps.png') }}">
							{% endif %}
							{% if entry.intitule == 'Manger (Tps de preparation Repas inclus)' %}
								<h1 style="background: #F14C4C; color: white;">Manger
									<span style="font-size: 0.8rem"><br>(Tps de preparation Repas inclus)</span>
								</h1>
							{% elseif entry.intitule == 'Se lever / s\'habiller et autres besoins de vie' %}
							<h1 style="background: #F14C4C; color: white;">S'entretenir
								<br><span style="font-size: 0.8rem">(Se lever, s'habiller et autres besoins de vie)</span>
							</h1>
						{% else %}
							<h1>{{ entry.intitule }}</h1>
							{% endif%}
						</div>
						<div class="container-actions">
							<div class="statistique-temps">
								<p>Usage de mon temps cible
									<span>(moyenne par jour)</span>
								</p>
								{% set totalSeconds = entry.lundi.getTimestamp() + entry.mardi.getTimestamp() + entry.mercredi.getTimestamp() + entry.jeudi.getTimestamp() + entry.vendredi.getTimestamp() + entry.samedi.getTimestamp() + entry.dimanche.getTimestamp() %}
								{% set averageSecondsPerDay = totalSeconds / 7 %}
								{% set averagePercentage = (averageSecondsPerDay / (24*3600)) * 100 %}
								{% set roundedPercentage = (averagePercentage * 2) | round / 2 %}
								{# arrondi au 0,5% le plus proche #}
								{% set averageHoursPerDay = averageSecondsPerDay / 3600 %}
								{% set hours = (averageHoursPerDay * 2) | round / 2 | round(0, 'floor') %}
								{% set minutes = ((averageHoursPerDay * 60) % 60) | round %}
								{% set formattedTime = '%02dh%02d'|format(hours, minutes) %}
								<h2>{{ formattedTime }}</h2>
								<h2>{{ roundedPercentage }}%</h2>
							</div>
							<div class="container-action">
								{% if entry.intitule != 'Sommeil' and entry.intitule != 'Manger (Tps de preparation Repas inclus)' and entry.intitule != 'Se lever / s\'habiller et autres besoins de vie' %}
								<a class="delete-button" href="{{ path('app_rythme_vital_besoin_vital_delete', {'id' : entry.id}) }}" onclick="return confirm('Voulez-vous vraiment supprimer ce besoin vital ?')">
									<img src="{{ asset('img/icon-croix.png') }}" alt="Supprimer">
								</a>
								{% else %}
							{% endif %}
							<a href="{{ path('app_modifier_obligation_familiale', {'type' : entry.getIdObligation(),'id' : entry.id}) }}">
								<img src="{{ asset('img/icon-modifier.png') }}" alt="modifier">
							</a>
						</div>
						<div class="statistique-temps">
							<h2>08:00</h2>
							<h2>33%</h2>
						</div>
					</div>
				</div>
			{% endfor %}
			<div class="container-button-add">
				<a class="button-add" href="{{ path('app_ajouter_obligation_familiale', {'type': type }) }}">Ajouter</a>
			</div>
		</div>
	</section>
{% endblock %}
