{% extends 'base.html.twig' %}

{% block title %}Waou - Je Découvre
{% endblock %}
{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('je_decouvre') }}
{% endblock %}

{% block body %}
	<section class="presentation element-to-scroll">
		<div class="presentation-waou element-to-scroll">
			<div class="col-3">
				<img src="{{ asset('img/logo-sans-bg.png') }}">
			</div>
			<div class="col-9">
				<h2 class="text-presentation-waou">Waou est une application qui te permet d'organiser et de gérer au quotidien ta vie personnelle sans stress.<br>Utilise Waou et réalise tes grands Projets / Rêves !</h2>
			</div>
		</div>
		<div class="row presentation-youtube">
			<div class="row-supp-youtube">
				<div class="col-5 border-youtube">
					<h1>Pourquoi M'inscrire
						<br>sur Waou ?</h1>
				</div>
				<div class="col-7">
					<h2>Regarde ces vidéos et deviens toi aussi
						<br>"WaouMan" ou "WaouGirl" !</h2>
				</div>
			</div>
			<div class="row-inf-youtube">
				<div class="col-5 img-principal-youtube border-image">
					<img src="{{ asset('img/icon-objectif.png')}}">
				</div>
				<div class="col-7 presentation-youtube-order">
					<div class="row img-principal-youtube">
						<div class="col-6 button-a-youtube">
							<a><img src="{{ asset('img/icon-youtube.png')}}"></a>
						</div>
						<div class="col-6 button-a-youtube">
							<a><img src="{{ asset('img/icon-youtube.png')}}"></a>
						</div>
					</div>
					<div class="row img-principal-youtube">
						<div class="col-6 button-a-youtube">
							<a><img src="{{ asset('img/icon-youtube.png')}}"></a>
						</div>
						<div class="col-6 button-a-youtube">
							<a><img src="{{ asset('img/icon-youtube.png')}}"></a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container-essaye-moi">
			<div class="row row-essaye-moi">
				<div class="col-5 sizing-col">
					<a style="color: white;">Essaie Waou
						<span>➪</span>
					</a>
				</div>
				<div class="col-7">
					<h2>Écris tes projets,<br>Réalise les au quotidien<br>Et deviens HEUREUX</h2>
				</div>
			</div>
		</div>
		<div class="row presentation-youtube">
			<div class="row-supp-youtube">
				<div class="col-5 border-youtube">
					<h1>Comment utiliser
						<br>Waou ?</h1>
				</div>
				<div class="col-7">
					<h2>Découvre les fonctionnalités de Waou
						<br>grâce à ces tutos !</h2>
				</div>
			</div>
			<div class="row-inf-youtube">
				<div class="col-5 img-principal-youtube border-image">
					<img src="{{ asset('img/icon-document.png')}}">
				</div>
				<div class="col-7 presentation-youtube-order">
					<div class="row img-principal-youtube">
						<div class="col-6 button-a-youtube">
							<a><img src="{{ asset('img/icon-youtube.png')}}"></a>
						</div>
						<div class="col-6 button-a-youtube">
							<a><img src="{{ asset('img/icon-youtube.png')}}"></a>
						</div>
					</div>
					<div class="row img-principal-youtube">
						<div class="col-6 button-a-youtube">
							<a><img src="{{ asset('img/icon-youtube.png')}}"></a>
						</div>
						<div class="col-6 button-a-youtube">
							<a><img src="{{ asset('img/icon-youtube.png')}}"></a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container-essaye-moi">
			<div class="row row-essaye-moi">
				<div class="col-5 sizing-col">
					<a style="color: white;">Essaie Waou
						<span>➪</span>
					</a>
				</div>
				<div class="col-7">
					<h2>Écris tes projets,<br>Réalise les au quotidien<br>Et deviens HEUREUX</h2>
				</div>
			</div>
		</div>
		<div class="row presentation-youtube">
			<div class="row-supp-youtube">
				<div class="col-5 border-youtube">
					<h1>Combien ça coûte
						<br>Waou ?</h1>
				</div>
				<div class="col-7">
					<h2>Découvre les fonctionnalités de Waou
						<br>grâce à ces tutos !</h2>
				</div>
			</div>
			<div class="row-inf-youtube">
				<div class="col-5 img-principal-youtube border-image">
					<img src="{{ asset('img/icon-bonhomme-blanc-euro.png')}}">
				</div>
				<div class="col-7 presentation-youtube-order">
					<div class="row img-principal-youtube">
						<div class="col-6 button-a-youtube">
							<a><img src="{{ asset('img/icon-youtube.png')}}"></a>
						</div>
						<div class="col-6 button-a-youtube">
							<a><img src="{{ asset('img/icon-youtube.png')}}"></a>
						</div>
					</div>
					<div class="row img-principal-youtube">
						<div class="col-6 button-a-youtube">
							<a><img src="{{ asset('img/icon-youtube.png')}}"></a>
						</div>
						<div class="col-6 button-a-youtube">
							<a><img src="{{ asset('img/icon-youtube.png')}}"></a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container-essaye-moi">
			<div class="row row-essaye-moi">
				<div class="col-5 sizing-col">
					<a style="color: white;">Essaie Waou
						<span>➪</span>
					</a>
				</div>
				<div class="col-7">
					<h2>Écris tes projets,<br>Réalise les au quotidien<br>Et deviens HEUREUX</h2>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
