{% extends 'base.html.twig' %}

{% block title %}Waou -
	{{ (app.request.get('_route') == 'app_lst_calendrier_tel_add' ? 'Créer' : 'Modifier') }}
	un Appel Téléphonique À Donner
{% endblock %}
{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('list_calendrier') }}
	{{ encore_entry_link_tags('login') }}
{% endblock %}
{% block body %}
	{{ form_start(form_calendrier_tel, {'attr': {'class': 'element-to-scroll mb-5'}}) }}
	<div class="row container-principal-form">
		<div class="col-8 mx-auto container-intro">
			<div class="col-form" style="width: 100%;">
				<h1>{{ (app.request.get('_route') == 'app_lst_calendrier_tel_add' ? 'Créer' : 'Modifier') }}
					un Rappel</h1>
			</div>
			<div class="col-form">
				{{ form_label(form_calendrier_tel.objet) }}
				{{ form_widget(form_calendrier_tel.objet) }}
				{{ form_errors(form_calendrier_tel.objet) }}
			</div>
			<div class="col-form">
				{{ form_label(form_calendrier_tel.personne) }}
				{{ form_widget(form_calendrier_tel.personne) }}
				{{ form_errors(form_calendrier_tel.personne) }}
			</div>
			<div class="col-form">
				{{ form_label(form_calendrier_tel.telephone) }}
				{{ form_widget(form_calendrier_tel.telephone) }}
				{{ form_errors(form_calendrier_tel.telephone) }}
			</div>
			<button type="submit" class="button-submit btn-sub mb-3">{{ (app.request.get('_route') == 'app_lst_calendrier_tel_add' ? 'Créer' : 'Modifier') }}</button>
		</div>
	</div>
	{{ form_end(form_calendrier_tel) }}
{% endblock %}
