{% extends 'base.html.twig' %}

{% block title %}Waou - Objectifs Activtés Professionnelles
{% endblock %}
{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('home') }}
{% endblock %}
{% block body %}
	<section class="nav-principal-body nav-body-rythme">
		<div class="row button-principal-body">
			<div class="description-menu-button-page col-12" style="margin-bottom: 10%">
				<h2 style="font-size: 2rem; width: 100%;">Avoir un travail (= une source de revenu) est essentiel à mon bien être et à la réalisation de mes projets de vie.<br>
					Ce travail doit me plaire, avoir du sens et respecter un bon équilibre entre vie personnelle et vie professionnelle.<br>Dans cette page je fixe mes objectifs personnels d’évolution de ma situation professionnelle.
				</h2>
			</div>
			<div class="menu-principal-body block-rythme">
				<div class="col-6 button-menu-icon responsive-top-border" style="border: none;">
					<a class="a-objectif container-relative" href="{{ path('app_objectifs_visualiser_activity', {'idSecteur' : 'CompetenceFormation'}) }}" style="text-decoration: none; color: #fff; padding: 6%; text-align: center; background: radial-gradient(circle, rgba(85,112,246,1) 0%, rgba(70,231,252,1) 100%); font-size: 1.8rem; border: 2px solid #112D4E; font-family: 'Josefin Sans', sans-serif; width: 80%; border-radius: 15px;" href="{{ path('app_rythme_vital_besoins_vitaux') }}">Acquérir des competences<br>+ ou - indispensable
					</a>
				</div>
				<div class="col-6 container-statistique">
					<a class="button-statistique" style="position: relative; border-radius: 0;">
						<p class="title-statistique">Nombre d'objectifs<br>
							<span style="font-size: 0.8rem">(en cours)</span>
						</p>
						<h3 style="position: relative; border-radius: 0;">{{ countCompetence }}</h3>
					</a>
					<a href="{{ path('app_form_objectif_add_activite', {'secteur' : 'Activite', 'idSecteur': 'CompetenceFormation', 'typeActivity': 'Formation'}) }}" class="container-relative icon-statistique click">
						<img src="{{ asset('img/icon-plus.png') }}" alt="modifier">
						<div class="info-bubble">Ajouter</div>
					</a>
					<a href="{{ path('app_objectifs_visualiser_activity', {'idSecteur' : 'CompetenceFormation'}) }}" class="container-relative icon-statistique click">
						<img src="{{ asset('img/icon-voir.png') }}" alt="modifier">
						<div class="info-bubble">Visualiser</div>
					</a>
				</div>
			</div>
			<div class="menu-principal-body block-rythme">
				<div class="col-6 button-menu-icon responsive-top-border" style="border: none;">
					<a class="container-relative a-objectif" href="{{ path('app_objectifs_visualiser_activity', {'idSecteur' : 'CompetencePersoFormation'}) }}" style="text-decoration: none; color: #fff; padding: 6%; text-align: center; background: radial-gradient(circle, rgba(85,112,246,1) 0%, rgba(70,231,252,1) 100%); font-size: 1.8rem; border: 2px solid #112D4E; font-family: 'Josefin Sans', sans-serif; width: 80%; border-radius: 15px;">Acquérir de nouvelles<br>compétences personnelles
					</a>
				</div>
				<div class="col-6 container-statistique">
					<a class="button-statistique" style="border-radius: 0;">
						<h3 style="position: relative;">{{ countCompetencePerso }}</h3>
					</a>
					<a href="{{ path('app_form_objectif_add_activite', {'secteur' : 'Activite', 'idSecteur': 'CompetencePersoFormation', 'typeActivity': 'Formation'}) }}" class="container-relative icon-statistique click">
						<img src="{{ asset('img/icon-plus.png') }}" alt="modifier">
						<div class="info-bubble">Ajouter</div>
					</a>
					<a href="{{ path('app_objectifs_visualiser_activity', {'idSecteur' : 'CompetencePersoFormation'}) }}" class="container-relative icon-statistique click">
						<img src="{{ asset('img/icon-voir.png') }}" alt="modifier">
						<div class="info-bubble">Visualiser</div>
					</a>
				</div>
			</div>
			<div class="menu-principal-body block-rythme">
				<div class="col-6 button-menu-icon responsive-top-border" style="border: none;">
					<a class="container-relative a-objectif" href="{{ path('app_objectifs_visualiser_activity', {'idSecteur' : 'AvenirFormation'}) }}" style="text-decoration: none; color: #fff; padding: 6%; text-align: center; background: radial-gradient(circle, rgba(85,112,246,1) 0%, rgba(70,231,252,1) 100%); font-size: 1.8rem; border: 2px solid #112D4E; font-family: 'Josefin Sans', sans-serif; width: 80%; border-radius: 15px;">Préparer mon avenir<br>Professionnel
					</a>
				</div>
				<div class="col-6 container-statistique">
					<a class="button-statistique" style="border-radius: 0;">
						<h3 style="position: relative;">{{ countAvenir }}</h3>
					</a>
					<a href="{{ path('app_form_objectif_add_activite', {'secteur' : 'Activite', 'idSecteur': 'AvenirFormation', 'typeActivity': 'Formation'}) }}" class="container-relative icon-statistique click">
						<img src="{{ asset('img/icon-plus.png') }}" alt="modifier">
						<div class="info-bubble">Ajouter</div>
					</a>
					<a href="{{ path('app_objectifs_visualiser_activity', {'idSecteur' : 'AvenirFormation'}) }}" class="container-relative icon-statistique click">
						<img src="{{ asset('img/icon-voir.png') }}" alt="modifier">
						<div class="info-bubble">Visualiser</div>
					</a>
				</div>
			</div>
			<div class="menu-principal-body block-rythme">
				<div class="col-6 button-menu-icon responsive-top-border" style="border: none;">
					<a class="container-relative a-objectif" href="{{ path('app_objectifs_visualiser_activity', {'idSecteur' : 'SeminaireFormation'}) }}" style="text-decoration: none; color: #fff; padding: 6%; text-align: center; background: radial-gradient(circle, rgba(85,112,246,1) 0%, rgba(70,231,252,1) 100%); font-size: 1.8rem; border: 2px solid #112D4E; font-family: 'Josefin Sans', sans-serif; width: 80%; border-radius: 15px;">Participer à des<br>Séminaires
					</a>
				</div>
				<div class="col-6 container-statistique">
					<a class="button-statistique" style="border-radius: 0;">
						<h3 style="position: relative;">{{ countSeminaire }}</h3>
					</a>
					<a href="{{ path('app_form_objectif_add_activite', {'secteur' : 'Activite', 'idSecteur': 'SeminaireFormation', 'typeActivity': 'Formation'}) }}" class="container-relative icon-statistique click">
						<img src="{{ asset('img/icon-plus.png') }}" alt="modifier">
						<div class="info-bubble">Ajouter</div>
					</a>
					<a href="{{ path('app_objectifs_visualiser_activity', {'idSecteur' : 'SeminaireFormation'}) }}" class="container-relative icon-statistique click">
						<img src="{{ asset('img/icon-voir.png') }}" alt="modifier">
						<div class="info-bubble">Visualiser</div>
					</a>
				</div>
			</div>
			<div class="menu-principal-body block-rythme" style="margin-bottom: 10%">
				<div class="col-6 button-menu-icon responsive-top-border" style="border: none;">
					<a class="a-objectif container-relative" href="{{ path('app_objectifs_visualiser_activity', {'idSecteur' : 'AutreFormation'}) }}" style="text-decoration: none; color: #fff; padding: 6%; text-align: center; background: radial-gradient(circle, rgba(85,112,246,1) 0%, rgba(70,231,252,1) 100%); font-size: 1.8rem; border: 2px solid #112D4E; font-family: 'Josefin Sans', sans-serif; width: 80%; border-radius: 15px;">Autres
					</a>
				</div>
				<div class="col-6 container-statistique">
					<a class="button-statistique" style="border-radius: 0;">
						<h3 style="position: relative;">{{ countAutre }}</h3>
					</a>
					<a href="{{ path('app_form_objectif_add_activite', {'secteur' : 'Activite', 'idSecteur': 'AutreFormation', 'typeActivity': 'Formation'}) }}" class="container-relative icon-statistique click">
						<img src="{{ asset('img/icon-plus.png') }}" alt="modifier">
						<div class="info-bubble">Ajouter</div>
					</a>
					<a href="{{ path('app_objectifs_visualiser_activity', {'idSecteur' : 'AutreFormation'}) }}" class="container-relative icon-statistique click">
						<img src="{{ asset('img/icon-voir.png') }}" alt="modifier">
						<div class="info-bubble">Visualiser</div>
					</a>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
