{% extends 'base.html.twig' %}

{% block title %}Waou - Objectifs Activtés
{% endblock %}
{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('home') }}
{% endblock %}
{% block body %}
	<section class="nav-principal-body nav-body-rythme">
		<div class="row button-principal-body">
			<div class="description-menu-button-page col-12" style="margin-bottom: 10%">
				<h2 style="font-size: 2rem; width: 100%;">Avoir un travail (= une source de revenu) est essentiel à mon bien être et à la réalisation de mes projets de vie.<br>
					Ce travail doit me plaire, avoir du sens et respecter un bon équilibre entre vie personnelle et vie professionnelle.
					<br>Dans cette page je fixe mes objectifs personnels d’évolution de ma situation professionnelle.
				</h2>
			</div>
			<div class="menu-principal-body block-rythme">
				<div class="col-6 button-menu-icon responsive-top-border" style="border: none;">
					<a class="a-objectif container-relative" href="{{ path('app_objectifs_activite_pro') }}" style="text-decoration: none; color: #fff; padding: 6%; text-align: center; background: radial-gradient(circle, rgba(85,112,246,1) 0%, rgba(70,231,252,1) 100%); font-size: 1.8rem; border: 2px solid #112D4E; font-family: 'Josefin Sans', sans-serif; width: 80%; border-radius: 15px;" href="{{ path('app_rythme_vital_besoins_vitaux') }}">Activité professionnelle<br>(Mon Métier)
						<div class="info-bubble-ob" style="font-size: 1rem">
							Dans cette rubrique je liste mes différents objectifs professionnelle
						</div>
					</a>
				</div>
				<div class="col-6 container-statistique">
					<a class="button-statistique" style="position: relative; border-radius: 0;">
						<p class="title-statistique">Nombre d'objectifs<br>
							<span style="font-size: 0.8rem">(en cours)</span>
						</p>
						<h3 style="position: relative; border-radius: 0;">{{ countPro }}</h3>
					</a>
					<a href="{{ path('app_objectifs_activite_pro') }}" class="container-relative icon-statistique click">
						<img src="{{ asset('img/icon-voir.png') }}" alt="modifier">
						<div class="info-bubble">Visualiser</div>
					</a>
				</div>
			</div>
			<div class="menu-principal-body block-rythme">
				<div class="col-6 button-menu-icon responsive-top-border" style="border: none;">
					<a class="container-relative a-objectif" href="{{ path('app_objectifs_activite_formation') }}" style="text-decoration: none; color: #fff; padding: 6%; text-align: center; background: radial-gradient(circle, rgba(85,112,246,1) 0%, rgba(70,231,252,1) 100%); font-size: 1.8rem; border: 2px solid #112D4E; font-family: 'Josefin Sans', sans-serif; width: 80%; border-radius: 15px;">Formation / Étude
						<div class="info-bubble-ob" style="font-size: 1rem">
							Ici, je renseigne mes différents objectifs dans mes études (Trouver une alternance, Obtenir mon diplome...)
						</div>
					</a>
				</div>
				<div class="col-6 container-statistique">
					<a class="button-statistique" style="border-radius: 0;">
						<h3 style="position: relative;">{{ countFormation }}</h3>
					</a>
					<a href="{{ path('app_mes_objectifs_visualiser_activite', {'idSecteur' : 'Sommeil'}) }}" class="container-relative icon-statistique click">
						<img src="{{ asset('img/icon-voir.png') }}" alt="modifier">
						<div class="info-bubble">Visualiser</div>
					</a>
				</div>
			</div>
			<div class="menu-principal-body block-rythme" style="margin-bottom: 10%">
				<div class="col-6 button-menu-icon responsive-top-border" style="border: none;">
					<a class="a-objectif container-relative" href="{{ path('app_objectifs_activite_loisir') }}" style="text-decoration: none; color: #fff; padding: 6%; text-align: center; background: radial-gradient(circle, rgba(85,112,246,1) 0%, rgba(70,231,252,1) 100%); font-size: 1.8rem; border: 2px solid #112D4E; font-family: 'Josefin Sans', sans-serif; width: 80%; border-radius: 15px;">Activtés de loisirs
						<div class="info-bubble-ob" style="font-size: 1rem">
							Je saisit ici mes objectifs de loisirs (Progresser dans un sport, se divertir plus souvent...)
						</div>
					</a>
				</div>
				<div class="col-6 container-statistique">
					<a class="button-statistique" style="border-radius: 0;">
						<h3 style="position: relative;">{{ countLoisir }}</h3>
					</a>
					<a href="{{ path('app_mes_objectifs_visualiser_activite', {'idSecteur' : 'Autres'}) }}" class="container-relative icon-statistique click">
						<img src="{{ asset('img/icon-voir.png') }}" alt="modifier">
						<div class="info-bubble">Visualiser</div>
					</a>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
